/*--------------------------------------------------------------
# Social Story Default Template
--------------------------------------------------------------*/

/* Story Container
--------------------------------------------- */

.social-story-frame {
  width: 1080px;
  height: 1920px;
  margin: 0 auto;
  outline: 1px dashed #666;
}

.social-story-container {
  position: relative;
  width: 1080px;
  height: 1920px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  color: #eee;
}

.social-story-container__inner {
  position: absolute;
  width: 100%;
  height: 1440px;
  width: 100%;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Background Image
  --------------------------------------------- */

.social-story-background-image {
  background-color: #000;
}

.social-story-background-image img {
  display: block;
  width: 1080px;
  height: 1920px;
  object-fit: cover;
  object-position: center center;
  opacity: 0.5;
}

/* Story Header
  --------------------------------------------- */

.social-story-header .station-branding {
  border-bottom: 1px solid;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.social-story-header .station-title {
  font-size: 36px;
}

.social-story-header .station-subtitle {
  font-size: 24px;
}

.social-story-header .social-story-day {
  font-size: 24px;
  font-weight: bold;
}

.social-story-header .social-story-time-zone {
  font-size: 24px;
}

/* Story Content
  --------------------------------------------- */

.social-story-content {
  flex-grow: 1;
  margin: 80px 0;
  display: flex;
  justify-content: end;
  align-items: center;
}

.social-story-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: end;
}

.social-story-content ul > li {
  padding: 10px 0;
  border-bottom: 1px dashed;
}

.social-story-content .r-show-time {
  font-size: 24px;
}

.social-story-content .r-show-title {
  font-size: 36px;
}

/* Story Footer
  --------------------------------------------- */

.social-story-footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.social-story-footer .station-logo {
  display: block;
  width: 110px;
  height: 110px;
}

.social-story-footer .station-url {
  font-size: 24px;
}
