/*--------------------------------------------------------------
# Social Post Default Template
--------------------------------------------------------------*/

/* Social Post Container
--------------------------------------------- */

.social-dj-story-frame {
  width: 1080px;
  height: 1920px;
  margin: 0 auto;
  outline: 1px dashed #666;
}

.social-dj-story-container {
  position: relative;
  width: 1080px;
  height: 1920px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  color: #eee;
}

.social-dj-story-container__inner {
  position: absolute;
  width: 100%;
  height: 1440px;
  width: 100%;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Social Post Background Image
  --------------------------------------------- */

.social-dj-story-background-image {
  background-color: #000;
}

.social-dj-story-background-image img {
  display: block;
  width: 1080px;
  height: 1920px;
  object-fit: cover;
  object-position: center center;
  opacity: 0.5;
}

/* Social Post Header
  --------------------------------------------- */

.social-dj-story-header__inner {
  display: flex;
  align-items: center;
}

.station-branding {
  flex-grow: 1;
}

.social-dj-story-header .station-title {
  font-size: 48px;
  margin-bottom: 10px;
}

.social-dj-story-header .station-subtitle {
  font-size: 30px;
}

.social-dj-story-header .station-logo {
  display: block;
  width: 125px;
  height: 125px;
}

/* Social Post Content
  --------------------------------------------- */

.social-dj-story-content {
  flex-grow: 1;
  padding-top: 80px;
  display: flex;
  align-items: end;
}

.radio-show-title {
  font-size: 72px;
  letter-spacing: -0.015em;
  line-height: 1.1;
  font-weight: normal;
  margin: 20px 0;
}

/* Social Post Footer
  --------------------------------------------- */
.social-dj-story-footer {
  padding: 20px 0 30px;
  border-top: 2px solid;
  font-size: 30px;
  line-height: 1.2;
}

.social-dj-story-footer__inner {
  display: flex;
  justify-content: space-between;
}

.social-dj-story-footer .radio-show-date {
  margin-right: 20px;
}
