/*--------------------------------------------------------------
# Social Post Default Template
--------------------------------------------------------------*/

/* Social Post Container
--------------------------------------------- */

.social-post-frame {
  width: 1080px;
  height: 1080px;
  margin: 0 auto;
  outline: 1px dashed #666;
}

.social-post-container {
    position: relative;
    width: 1080px;
    height: 1080px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    color: #eee;
  }
  
  .social-post-container__inner {
    position: absolute;
    width: 100%;
    height: 960px;
    width: 100%;
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  /* Social Post Background Image
  --------------------------------------------- */
  
  .social-post-background-image {
    background-color: #000;
  }
  
  .social-post-background-image img {
    display: block;
    width: 1080px;
    height: 1080px;
    object-fit: cover;
    object-position: center center;
    opacity: 0.5;
  }
  
  /* Social Post Header
  --------------------------------------------- */

  .social-post-header__inner {
    display: flex;
  }

  .station-branding {
    flex-grow: 1;
  }
  
  .social-post-header .station-title {
    font-size: 36px;
  }
  
  .social-post-header .station-subtitle {
    font-size: 24px;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  
  .social-post-header .station-logo {
    display: block;
    width: 110px;
    height: 110px;
  }
  
  /* Social Post Content
  --------------------------------------------- */
  
  .social-post-content {
    flex-grow: 1;
    padding-top: 80px;
    display: flex;
    align-items: end;
  }

  .radio-show-title {
    font-size: 72px; 
    letter-spacing: -0.015em;
    line-height: 1.1;
    font-weight: normal;
    margin: 20px 0;
  }
  
  /* Social Post Footer
  --------------------------------------------- */
  .social-post-footer {
    padding: 20px 0 30px;
    border-top: 1px solid;
    font-size: 24px;
  }

  .social-post-footer__inner {
    display: flex;
    justify-content: space-between;
  }
 
  
